[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/rainbow_parenthesis"]
	path = bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
